p {
  color: purple; 
}
.center {
  text-align: center;
}
#redwords{
   color: red;
}
a[target] {
  background-color: gray;
}
a:link {
  color: red;
}

a:visited {
  color: green;
}

a:hover {
  color: purple;
}
div li {
  color: orange
 }

div > h2 {
  background-color: yellow;
}

div + h3 {
 color: pink
}

div ~ li {
  background-color: blue;
}
 
 h1, h2, h3{ 
  font-family: cursive;
  }
 
 .class1{
  color: blue ;
}
 
.class2{
  font-family: cursive;
 }
body {
  background-color: LightGray;
}
