@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
p {
  color: purple; 
}
.center {
  text-align: center;
}
#redwords{
   color: red;
}
a[target] {
  background-color: gray;
}
a:link {
  color: red;
}

a:visited {
  color: green;
}

a:hover {
  color: purple;
}
div li {
  color: orange
 }

div > h2 {
  background-color: yellow;
}

div + h3 {
 color: pink
}

div ~ li {
  background-color: blue;
}
 
h1, h2, h3{ 
  font-family: 'Hachi Maru Pop', cursive;
  }
 
 .class1{
  color: blue ;
}
 
.class2{
  font-family: cursive;
 }
body {
  background-color: LightGray;
}
p.border1 {
  border-style: dotted;
  border-color: blue;
  border-width: 5px;
  border-radius: 5px;
  
}
p {
  font-size: 25px;
  line-height: 2em 
}
h1{
  font-size: 15mm;
  line-height: 2eh
}
h2{
  font-size: 3rem;
  border: 1pt solid black;
}

div{
background-color: Lightyellow;
  width: 500px;
  border: 10px solid black;
  padding-top: auto;
  padding-left: auto;
  padding-right: auto;
  padding-bottom: auto;
  margin-left: 10px;
  margin-top: 50px;
  margin-right: auto;
  margin-bottom: auto;
  height: 300px;
}
.text1{
  text-decoration-line: underline;
  text-decoration-color: red;
  text-align: left
}
span {
  display: block;
}
nav{
display:inline
  }
.rel{
    position: relative;
    left: 20px;
  }
.sta{
  position: static;
  border: 3px black;
}
  
